$black: #000000;
$black-bg: #080808;
$black-chart-bg: #100f0f;
$black-15: rgba($black, 0.15);
$black-26: rgba($black, 0.26);
$white: #ffffff;
$white-90: rgba($white, 0.9);
$white-80: rgba($white, 0.8);
$white-70: rgba($white, 0.7);
$white-50: rgba($white, 0.5);
$white-10: rgba($white, 0.1);
$white-5: rgba($white, 0.05);
$blue: #453fd7;
$blue-15: rgba($blue, 0.15);
$pink: #ff136d;
$pink-15: rgba($pink, 0.15);
$green: #12bc56;
$red: #d33030;