$black: #000000;
$black-bg: #080808;
$black-chart-bg: #100f0f;
$black-15: rgba($black, 0.15);
$black-20: rgba($black, 0.20);
$black-26: rgba($black, 0.26);
$white: #ffffff;
$white-90: rgba($white, 0.9);
$white-80: rgba($white, 0.8);
$white-70: rgba($white, 0.7);
$white-50: rgba($white, 0.5);
$white-40: rgba($white, 0.4);
$white-15: rgba($white, 0.15);
$white-10: rgba($white, 0.1);
$white-5: rgba($white, 0.05);
$blue: #453fd7;
$blue-label: #433de9;
$blue-20: rgba($blue, 0.2);
$blue-15: rgba($blue, 0.15);
$blue-label-10: rgba($blue-label, 0.10);
$pink: #ff136d;
$pink-20: rgba($pink, 0.2);
$pink-15: rgba($pink, 0.15);
$pink-5: rgba($pink, 0.05);
$green: #12bc56;
$green-20: rgba($green, 0.2);
$green-15: rgba($green, 0.15);
$red: #d33030;