@import './src/assets/styles/mixin/breakpoints';

.containerPage {
  max-width: 1279px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  margin-top: -615px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include tablet {
    margin-top: 95px;
    padding: 0 15px 0 0;
    align-items: flex-start;
    flex-direction: column;
    gap: 77px;
  }
}