@import "./src/assets/styles/mixin/breakpoints";

.wrapper {
  position: relative;

  @include screen_1293 {
    right: 150px;
  }

  @include tablet {
    position: unset;
  }
}

.contentWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding-top: 190px;

  //@include tablet {
  //  max-width: 60%;
  //  margin: 0 auto;
  //}
  //
  //@include mobile-medium {
  //  max-width: 70%;
  //}
}

.rockOneWrapper {
  position: absolute !important;
  left: 410px !important;
  top: unset !important;
  right: unset !important;
  //position: absolute;
  //right: -100px;
  //transform: rotate(-45deg);
  //
  //@include screen_1293 {
  //  right: -50px;
  //}
  //
  //@include tablet {
  //  top: -100px;
  //  right: 0;
  //  left: 0;
  //}
  //
  //@include mobile {
  //  top: -50px;
  //}
  //
  //@include mobile-medium {
  //  top: 0;
  //}
}

.rockOne {
  //animation: myAnim 15s ease 0s infinite normal forwards;

  //img {
  //  //transform: rotate(45deg);
  //
  //  @include tablet {
  //    width: 282px;
  //  }
  //}
}

.rockTwoWrapper {
  //position: absolute;
  top: 130px !important;
  left: 140px !important;
  //transform: rotate(45deg);
  //
  //@include screen_1293 {
  //  top: 210px;
  //  left: 20%;
  //}
  //
  //@include tablet {
  //  top: 100px;
  //  left: -100px;
  //}
}

.rockTwo {
  //animation: myAnim 15s ease 0s infinite normal forwards;
  //
  //img {
  //  transform: rotate(-45deg);
  //
  //  @include tablet {
  //    width: 100px;
  //  }
  //}
}

.rockThreeWrapper {
  //position: absolute;
  top: 400px !important;
  right: 50px !important;
  left: unset !important;
  //transform: rotate(90deg);
  //
  //@include tablet {
  //  top: 250px;
  //  left: 0;
  //  right: unset;
  //}
}

.rockThree {
  //animation: myAnim 15s ease 0s infinite normal forwards;
  //
  //img {
  //  transform: rotate(-90deg);
  //
  //  @include tablet {
  //    width: 106px;
  //  }
  //}
}