@import "./src/assets/styles/variables/colors";
@import "./src/assets/styles/mixin/breakpoints";

.button {
  font-size: 24px;
  letter-spacing: -0.015em;
  color: $white;
  background: transparent;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  @include tablet {
    font-size: 18px;
  }
}