@import "./src/assets/styles/variables/colors";
@import "./src/assets/styles/mixin/breakpoints";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 24px;
  letter-spacing: -0.015em;
  color: $white;
  background: transparent;

  @include tablet {
    font-size: 18px;
  }
}