@import "./src/assets/styles/variables/colors";
@import "./src/assets/styles/mixin/breakpoints";

.containerPage {
  max-width: 1279px;
  margin: 0 auto;
}

.wrapper {
  margin-top: -361px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 805px;
  padding: 0 15px;

  @include tablet {
    padding: 0 15px;
    max-width: 100%;
  }
}

.text {
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.015em;
  color: $white-80;

  @include tablet {
    font-size: 16px;
  }
}