@import "./src/assets/styles/mixin/breakpoints";

.selectWrapper {
  display: flex;
  justify-content: space-between;

  @include tablet {
    margin-top: 24px;
    margin-bottom: 12px;
    flex-direction: column;
  }
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.headingDesktop {
  @include tablet {
    display: none;
  }
}

.headingMobile {
  display: none;
  @include tablet {
    display: block;
  }
}