@import "./src/assets/styles/variables/colors";
@import "./src/assets/styles/mixin/breakpoints";

.containerPage {
  position: relative;
  max-width: 1279px;
  margin: 0 auto;

  @include tablet {
    margin-top: 240px;
    display: flex;
    flex-direction: column;
  }
}

.wrapper {
  position: relative;
  z-index: 2;
  margin-top: 160px;
  padding: 64px;
  background: transparent;
  border: none;

  @include tablet {
    padding: 0 15px;
    background: none;
    border: none;
  }
}

.wrapperText {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 637px;

  @include tablet {
    max-width: 100%;
  }
}

.text {
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.015em;
  color: $white-80;

  @include tablet {
    font-size: 16px;
  }
}

.rocks {
  position: absolute;
  z-index: 1;
  top: -180px;
  right: -280px;

  @include screen_1635 {
    right: -160px;
  }

  @include screen_1293 {
    right: -70px;
  }

  @include tablet {
    right: unset;
    align-self: center;

    img {
      width: 500px;
    }
  }

  @include mobile-medium {
    align-self: start;

    img {
      width: 340px;
    }
  }
}