@import "./src/assets/styles/mixin/breakpoints";

.wrapper {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  padding: 0 15px;

  @include tablet {
    max-width: 100%;
    padding: 0 15px;
  }
}