@import "./src/assets/styles/variables/colors";
@import "./src/assets/styles/mixin/breakpoints";

.wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 48px;
}

.link {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.015em;
  color: $white-70;

  @include tablet {
    font-size: 12px;
  }
}