@import "./src/assets/styles/mixin/breakpoints";

.wrapper {
  padding-bottom: 40px;
  background: url("../../assets/images/bg-sec-pages.png");
  background-repeat: repeat-x;
  background-position: left bottom -40px;
}
