@import './src/assets/styles/mixin/breakpoints';

.wrapper {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.logoText {
  font-size: 24px;
  font-weight: 800;
  color: #ffffff;
  @include tablet {
    display: none;
  }
}

.logoIcon {
  position: relative;
  z-index: 1001;

  svg {
    height: 64px;
  }
  @include tablet {
    svg {
      height: 55px;
    }
  }
}