@import "./src/assets/styles/mixin/breakpoints";

.wrapper {
  display: flex;

  @include screen_1293 {
    justify-content: center;
  }

  @include tablet {
    margin: 0 15px;
  }
}

.blockContainer {
  width: 100%;

  @include tablet {
    display: none;
  }
}