@import "./src/assets/styles/mixin/breakpoints";

.containerPage {
  max-width: 1279px;
  margin: 0 auto;

  padding: 0 15px;
}

.wrapper {
  display: flex;

  @include screen_1293 {
    justify-content: center;
  }
}

.blockContainer {
  width: 100%;

  @include tablet {
    display: none;
  }
}