@import "./src/assets/styles/variables/colors";
@import "./src/assets/styles/mixin/breakpoints";

.wrapper {
  padding: 0 15px;
  background: $black-bg;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1279px;
  padding: 32px 0;
  margin: 0 auto;

  @include screen_1293 {
    width: 100%;
  }
}

.blockWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mobileWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}