@import "./src/assets/styles/mixin/breakpoints";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  width: max-content;
  height: fit-content;
  background: linear-gradient(259.94deg, rgba(255, 255, 255, 0) -12.46%, rgba(255, 255, 255, 0.1) 114.52%);
  backdrop-filter: blur(5px);
  border-radius: 16px;

  @include screen_1293 {
    padding: 16px;
  }
}

.text {
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.015em;
  text-align: center;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
}