@import './src/assets/styles/mixin/breakpoints';

.wrapper {
  max-width: 1279px;
  margin: 0 auto;

  @include screen_1293 {
    margin: 0 15px;
    width: 100%;
  }

  @include tablet {
    margin: 0 auto;
    width: 100%;
  }
}