@import "./variables/colors";
@import "./mixin/breakpoints";
@import "fonts";
@import "./animation/wickedcss.min.css";
@import "./components/sliderCard";

* {
  margin: 0;
  padding: 0;
  font-family: Oxanium, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: unset;
  text-decoration: none;
}

a[data-link-disabled="disabled"] {
  pointer-events: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

html,
body {
  position: relative;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

body {
  background-color: $black-bg;
}

.react-player {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  border-radius: 20px;
  overflow: hidden;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
  z-index: 1001;
}

.ReactModal__Content {
  background: #100F0F !important;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  border-radius: 32px !important;
  inset: 200px !important;
  padding: 200px !important;

  @include tablet {
    inset: 100px !important;
    padding: 100px !important;
  }

  @include mobile {
    inset: unset !important;
    top: 200px !important;
    bottom: 200px !important;
    left: 20px !important;
    right: 20px !important;
    padding: 100px 20px  !important;
  }

  .react-player {
    position: relative !important;
    width: 100% !important;
    height: 100% !important;
  }
}

@include mobile {
  @keyframes rotation {
    0% {
      transform: rotate(0) translateX(30%) rotate(0);
    }

    100% {
      transform: rotate(360deg) translateX(30%) rotate(-360deg);
    }
  }
}