@import "./src/assets/styles/mixin/breakpoints";

.wrapper {
  padding-bottom: 40px;
  background: url("../../assets/images/bg-sec-pages.png");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: contain;
}
