@import "./src/assets/styles/variables/colors";

.wrapper {
  margin-top: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.link {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -0.015em;
  color: $white-70;
}

.linkEcoWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 12px;
  background: $blue-15;
  border-radius: 8px;
}

.linkEco {
  font-weight: 300;
  font-size: 24px;
  letter-spacing: -0.015em;
  color: $white;
}
